<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatis.mapper.PersonMapper">
    <insert id="addPerson">
        insert into t_person
        values (0, "rose", "USA")
    </insert>
    <insert id="addPerson2" parameterType="Person">
        insert into t_person
        values (0, #{pname}, #{address})
    </insert>
    <select id="getPerson" parameterType="string" resultType="Person">
        select * from t_person where pname = #{value}
    </select>
    <select id="getPerson2" parameterType="integer" resultType="Person">
        select * from t_person where id = #{value}
    </select>
    <delete id = "delPerson" parameterType="int">
        delete from t_person where id = #{value}
    </delete>
    <select id = "getPersonList" resultType="Person">
        select * from t_person
    </select>
    <update id="updatePerson" parameterType="Person">
        update t_person set pname = #{pname} where id = #{id}
    </update>
    <update id="updatePerson2" parameterType="Person">
        update t_person set address = #{address} where pname = #{pname}
    </update>
<!-- 这里传参可以使用#{arg0},#{arg1}...或者#{param1},#{param2}...代替  或者在PersonMapper接口中使用@param注解传参-->
    <insert id="addPerson3">
        insert into t_person values(0,#{arg0},#{arg1})
    </insert>
    <insert id="addPerson4">
        insert into t_person values(0,#{pname},#{address})
    </insert>
    <select id="getPersonCount" resultType="integer">
        select count(1) from t_person
    </select>
    <insert id="addPerson5" parameterType="Person" useGeneratedKeys="true" keyProperty="id">
        insert into t_person values(0,#{pname},#{address})
    </insert>
</mapper>
